In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\nabin\appdata\local\programs\python\python312\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\nabin\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\nabin\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\nabin\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\nabin\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv('twitter_training.csv', encoding='latin-1')

In [16]:
df.head()

,number,context,sentiment,text
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [17]:
df['binary_sentiment'] = df['sentiment'].map({'Neutral': 2, 'Positive': 0, 'Negative': 1,'Irrelevant':3})

In [18]:
df.sample()

,number,context,sentiment,text,binary_sentiment
34282,6688,Fortnite,Positive,War zone has the worst gun consistency I that ...,0

In [19]:
df = df[['text', 'binary_sentiment']]

In [20]:
df.tail()

                                                    text  binary_sentiment
74676  Just realized that the Windows partition of my...                 0
74677  Just realized that my Mac window partition is ...                 0
74678  Just realized the windows partition of my Mac ...                 0
74679  Just realized between the windows partition of...                 0
74680  Just like the windows partition of my Mac is l...                 0

In [21]:
df.isnull().sum()

text                686
binary_sentiment      0
dtype: int64

In [22]:
df = df.dropna()

In [23]:
df.duplicated().sum()

4229

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73995 entries, 0 to 74680
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   text              73995 non-null  object
 1   binary_sentiment  73995 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.7+ MB

In [25]:
df.shape

(73995, 2)

In [26]:
df['binary_sentiment'].value_counts()

binary_sentiment
1    22358
0    20654
2    18108
3    12875
Name: count, dtype: int64

In [27]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [28]:
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Nabin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Nabin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [29]:
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    
    # Tokenization
    words = word_tokenize(text)
    
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    words = [word for word in words if word not in stop_words]
    
    # Stemming
    ps = PorterStemmer()
    words = [ps.stem(word) for word in words]
    
    # Join the words back into a single string
    processed_text = ' '.join(words)
    
    return processed_text

In [30]:
df['text'] = df['text'].apply(preprocess_text)

In [31]:
df.tail()

                                                    text  binary_sentiment
74676  realiz window partit mac like 6 year behind nv...                 0
74677  realiz mac window partit 6 year behind nvidia ...                 0
74678  realiz window partit mac 6 year behind nvidia ...                 0
74679  realiz window partit mac like 6 year behind nv...                 0
74680  like window partit mac like 6 year behind driv...                 0

In [32]:
# Encode labels
label_encoder = LabelEncoder()
encoded_labels = label_encoder.fit_transform(df['binary_sentiment'])

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, y_train, y_test = train_test_split(df['text'], encoded_labels, test_size=0.2, random_state=42)

In [36]:
vectorizer = TfidfVectorizer(max_features=18925)
X_train_tfidf = vectorizer.fit_transform(X_train)
X_test_tfidf = vectorizer.transform(X_test)

In [36]:
print("Processed Texts:", df['text'])
print("Encoded Labels:", encoded_labels)
print("X_train:", X_train_tfidf)
print("X_test:", X_test_tfidf)
print("y_train:", y_train)
print("y_test:", y_test)

Processed Texts: 0                                           ` respond , go
1                            sooo sad miss san diego ! ! !
2                                           boss bulli ...
3                                    interview ! leav alon
4                son * * * * , ` put releas alreadi bought
                               ...
27476    wish could come see u denver husband lost job ...
27477    ` wonder rake . client made clear .net , ` for...
27478    yay good . enjoy break - probabl need hectic w...
27479                                      worth * * * * .
27480             flirt go - atg smile . yay . ( ( hug ) )
Name: text, Length: 27480, dtype: object
Encoded Labels: [2 1 1 ... 0 0 2]
X_train:   (0, 11546)	0.3264729758838995
  (0, 6761)	0.5061459813569884
  (0, 4783)	0.4962708183154321
  (0, 8521)	0.5341264876095198
  (0, 12229)	0.3250473991530014
  (1, 8575)	0.41541355502741845
  (1, 8041)	0.3547812359313191
  (1, 8638)	0.346691805383014
  (1, 18417)	0.2019288637880997
  (1, 6916)	0.364912214989738
  (1, 17004)	0.41541355502741845
  (1, 3809)	0.3595293018336002
  (1, 8659)	0.18269266582351798
  (1, 16990)	0.2029520651002208
  (1, 16495)	0.17616629325640706
  (2, 15444)	0.37138150846802703
  (2, 7794)	0.5179282289225702
  (2, 14571)	0.34190547046348485
  (2, 14232)	0.44211344150929216
  (2, 8712)	0.38927315984533833
  (2, 15000)	0.36045649665545065
  (3, 3229)	0.26258860953427565
  (3, 13562)	0.2429574569786499
  (3, 3614)	0.33375096394822945
  (3, 6847)	0.2546497345493115
  :	:
  (21980, 17624)	0.6181492356084092
  (21980, 18297)	0.5083918128820625
  (21980, 7325)	0.4120699534019545
  (21980, 3203)	0.4354625593716876
  (21981, 558)	0.49553032588524903
  (21981, 17519)	0.45146907087755545
  (21981, 7009)	0.382460815062247
  (21981, 4302)	0.39262193918763444
  (21981, 17204)	0.2580758629380816
  (21981, 4754)	0.21391130704329203
  (21981, 8753)	0.1970290867774909
  (21981, 14232)	0.3146672093353573
  (21982, 10953)	0.6065796449379639
  (21982, 6294)	0.5118435690951284
  (21982, 10640)	0.35127442228759365
  (21982, 3318)	0.30989953911696916
  (21982, 16610)	0.30409912484732415
  (21982, 8753)	0.2411836920100381
  (21983, 698)	0.5014232742996405
  (21983, 4589)	0.5113533997340691
  (21983, 13712)	0.42369552410800115
  (21983, 12216)	0.3551535716317766
  (21983, 7848)	0.22449620804110904
  (21983, 10525)	0.21588403727148256
  (21983, 15000)	0.29057869675116244
X_test:   (0, 6791)	0.5909038268317492
  (0, 6610)	0.5892626605657378
  (0, 6447)	0.5510010746800609
  (1, 17115)	0.30593825281979287
  (1, 9811)	0.31302541538011747
  (1, 8590)	0.41742284624486414
  (1, 6557)	0.3663121541791675
  (1, 5723)	0.40482823377000526
  (1, 5522)	0.49468278425736284
  (1, 3925)	0.30231356572799206
  (2, 17701)	0.34526477667650585
  (2, 13446)	0.3897885935626067
  (2, 12723)	0.4126870239015271
  (2, 8753)	0.18367067161755693
  (2, 6751)	0.3019247672743062
  (2, 5901)	0.40577701696472024
  (2, 4754)	0.19940829079516084
  (2, 3312)	0.2780273804970839
  (2, 2494)	0.3897885935626067
  (3, 8477)	0.6113628955568414
  (3, 4875)	0.791350371160812
  (4, 16476)	1.0
  (5, 14709)	0.2521829420569379
  (5, 12964)	0.3449007734589052
  (5, 12730)	0.513662959959275
  :	:
  (5493, 16570)	0.39653237206957864
  (5493, 8770)	0.3474065035472913
  (5493, 8072)	0.23181731520228022
  (5493, 7617)	0.15732697153604533
  (5493, 3793)	0.29088380728665714
  (5493, 3201)	0.3401483792730102
  (5493, 2789)	0.2856790561571518
  (5494, 16772)	0.20920355044375127
  (5494, 16767)	0.41487867124635996
  (5494, 8964)	0.22534640786060692
  (5494, 5168)	0.49542344669279953
  (5494, 5076)	0.41164882270575415
  (5494, 4719)	0.31250904400648793
  (5494, 4565)	0.46985903389958233
  (5495, 17741)	0.31092018383584946
  (5495, 17204)	0.23413760712075518
  (5495, 16906)	0.31002064274915886
  (5495, 16694)	0.1858459934543439
  (5495, 13343)	0.3646739268790057
  (5495, 12750)	0.3118386640142451
  (5495, 10919)	0.2539902337545923
  (5495, 8753)	0.17875332619671394
  (5495, 4754)	0.19406960804856832
  (5495, 3817)	0.3890878355199329
  (5495, 3816)	0.44956658649777204
y_train: [0 0 2 ... 2 0 0]
y_test: [0 1 2 ... 2 1 2]

In [37]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [38]:
vectorizer = CountVectorizer()
X_train_vectorized = vectorizer.fit_transform(X_train)

In [38]:
naive_bayes_classifier = MultinomialNB()
naive_bayes_classifier.fit(X_train_tfidf, y_train)

MultinomialNB()

In [39]:
y_pred = naive_bayes_classifier.predict(X_test_tfidf)

In [40]:
class_names = label_encoder.classes_.astype(str)

In [41]:
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred, target_names=class_names)

In [42]:
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.717143050206095

In [43]:
report = classification_report(y_test, y_pred)
report

'              precision    recall  f1-score   support\n\n           0       0.69      0.81      0.74      4123\n           1       0.65      0.88      0.75      4463\n           2       0.82      0.62      0.71      3589\n           3       0.92      0.44      0.59      2624\n\n    accuracy                           0.72     14799\n   macro avg       0.77      0.69      0.70     14799\nweighted avg       0.75      0.72      0.71     14799\n'

In [44]:
confusion = confusion_matrix(y_test, y_pred)
confusion

array([[3329,  596,  165,   33],
       [ 366, 3907,  158,   32],
       [ 538,  789, 2230,   32],
       [ 594,  709,  174, 1147]], dtype=int64)

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Assuming X_train_tfidf, X_test_tfidf, y_train, y_test are already defined

# Initialization of SVM Classifier
svm_classifier = SVC()

# Training the SVM Classifier
svm_classifier.fit(X_train_tfidf, y_train)

# Making Predictions
y_pred_svm = svm_classifier.predict(X_test_tfidf)

# Calculating Accuracy
accuracy_svm = accuracy_score(y_test, y_pred_svm)

# Creating Confusion Matrix
conf_matrix_svm = confusion_matrix(y_test, y_pred_svm)

# Generating Classification Report
class_report_svm = classification_report(y_test, y_pred_svm, target_names=class_names)

In [28]:
accuracy_svm

0.6991633321207712

In [45]:
import numpy as np

In [57]:
new_text = ["i love you"]
new_text_reshaped = vectorizer.transform(new_text)

new_predictions_svm = naive_bayes_classifier.predict(new_text_reshaped)

print("Predictions for new text svm", new_predictions_svm)

Predictions for new text svm [0]

In [58]:
import pickle
pickle.dump(naive_bayes_classifier,open('sentimentenglish_model.pkl','wb'))
pickle.dump(svm_classifier,open('sentimentenglish_model_svm.pkl','wb'))
pickle.dump(vectorizer,open('vectorizerenglish.pkl','wb'))